.node-type-blog .npost img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  width: unset;
  display: block;
  margin: 0 auto;
}
.npost .submitted {
  margin-bottom: 50px;
}
.node-type-blog .npost .nc p,
.node-type-blog .npost .nc article ul {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
}
.node-type-blog .npost .nc p.marginleft30 {
  margin-left: 30px;
}
.node-type-blog .npost .nc p.marginleft45 {
  margin-left: 45px;
}
.node-type-blog .npost .nc p.marginleft60 {
  margin-left: 60px;
}
.node-type-blog .npost .nc p.summary {
  font-weight: bold;
  margin: 0 0 50px;
  padding: 0 0 50px;
  font-size: 16px;
  line-height: 30px;
}
.node-type-blog .npost .nc p.author-info {
  overflow: hidden;
}
.node-type-blog .npost .nc p.author-info img {
  display: block;
  float: left;
  max-height: 150px;
  max-width: 150px;
  margin-right: 30px;
}
.node-type-blog .npost .nc p.photosource {
  background: #F4F4F4;
  padding: 21px 16px 16px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  color: #999;
  margin-top: -20px;
}
.node-type-blog .npost .nc article ul li {
  padding-left: 60px;
  position: relative;
}
.node-type-blog .npost .nc article ul li:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #5947B3;
  left: 34px;
  top: 10px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.node-type-blog .npost .nc article .back {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  padding: 15px;
  background: #F7F7F7;
  color: #555;
  margin-bottom: 40px;
  text-align: center;
}
.node-type-blog .npost .nc article .back p {
  margin-bottom: 20px;
}
.node-type-blog .npost .nc article .back ul {
  margin-bottom: 0;
}
.node-type-blog .npost .nc article .back ul li {
  padding: 0;
}
.node-type-blog .npost .nc article .back ul li:before {
  display: none;
}
.node-type-blog .npost .nc blockquote p {
  margin-bottom: 0;
}
.npost .nc article p {
  margin: 0 0 50px;
}
.node-type-blog .npost h3 {
  margin: 0 0 30px;
  color: #333;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}
.node-type-blog .npost h6 {
  margin: 0 0 30px;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.node-type-blog .npost h6 em {
  font-weight: 400;
}
.node-type-blog .npost blockquote p {
  font-style: italic;
}
.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
  background-repeat: no-repeat;
  background-size: cover !important;
}
.node-type-blog .npost blockquote {
  padding: 0;
  border: none;
  border-radius: unset;
  margin: 50px 0;
}
.node-type-blog .npost blockquote:before {
  content: '';
  position: absolute;
  left: unset;
  bottom: -36px;
  right: -14px;
  top: unset;
  width: 50px;
  height: 50px;
  background: #fff url(../../i/icons/qu.svg) 50% no-repeat;
  background-size: 36px;
  z-index: 2;
}
.node-type-blog .npost blockquote:after {
  content: '';
  position: absolute;
  left: -14px;
  bottom: unset;
  right: unset;
  top: -14px;
  width: 50px;
  height: 50px;
  background: #fff url(../../i/icons/qu.svg) 50% no-repeat;
  background-size: 36px;
  z-index: 2;
}
.node-type-blog .npost blockquote p {
  padding: 0 72px;
  margin: 0;
  position: relative;
}
.node-type-blog .npost blockquote p:before {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 0;
  right: unset;
  top: unset;
  background-color: #ebebeb;
  width: 1px;
  height: 100%;
}
.node-type-blog .npost blockquote p:after {
  content: "";
  position: absolute;
  left: unset;
  bottom: unset;
  right: 8px;
  top: 0;
  background-color: #ebebeb;
  width: 1px;
  height: 100%;
}
.node-type-blog .npost h3 strong em {
  font-style: normal;
  margin: 0 0 30px;
}
.from-edition .owl-nav {
  display: none;
}
.from-edition .owl-item {
  width: 280px !important;
}
.line-nb .i {
  margin-bottom: 24px;
}
.line-nb .title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.line-nb .date {
  border: none;
  padding: 0;
}
.npost .nc .social .ya-share2__container_size_m .ya-share2__item {
  margin: 0 4px 0 0;
}
.npost .nc .social .ya-share2__container_size_m .ya-share2__icon {
  height: 24px;
  width: 24px;
}
.npost .from-edition {
  border: none;
}
.npost .nc .bottom-info {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 30px 0;
  margin: 50px 0;
}
.npost .nc .bottom-info .author {
  float: left;
}
.npost .nc .bottom-info .author img {
  display: block;
  border: 4px solid #EBEBEB;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 16px;
}
.npost .nc .bottom-info .author .info {
  overflow: hidden;
}
.npost .nc .bottom-info .author .name {
  font-size: 15px;
  line-height: 17px;
  color: #333;
  display: block;
  margin: 0 0 8px;
}
.npost .nc .bottom-info .author .j {
  display: block;
  font-size: 12px;
  line-height: 13px;
  color: #999;
}
.npost .nc .bottom-info .social {
  float: right;
  width: 390px;
  line-height: 40px;
}
.npost .nc .bottom-info .social label {
  display: block;
  float: left;
  font-size: 12px;
}
.npost .nc .bottom-info .social > div {
  float: right;
}
.npost .nc .bottom-info .social > div div {
  height: 24px;
  margin: 8px 0;
}
.npost .nc .bottom-info .social .ya-share2__list.ya-share2__list_direction_horizontal {
  margin: 0;
}
.npost .tophinfo {
  position: relative;
  margin: 0 0 50px;
  height: 400px;
}
.npost .tophinfo h1 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 12px;
}
.npost .tophinfo .binfo {
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 166px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  color: #fff;
  padding: 60px 40px 30px;
}
.npost .tophinfo .date {
  font-size: 13px;
  line-height: 24px;
}
.npost .peopleinfo {
	overflow: hidden;
}
.npost .peopleinfo img {
    max-width: 240px;
    display: block;
    margin: 0 auto 15px;
}
.npost .peopleinfo .leftinfo {
	float: left;
	margin-right: 50px;
	width: 320px;
	font-size: 14px;
	font-style: italic;
}
.npost .peopleinfo p:not(.leftinfo) {
  overflow: hidden;
}
.section-blog[data-i="7"],
.section-blog[data-i="11"],
.section-blog[data-i="13"],
.section-blog[data-i="17"] {
  margin-right: 0;
}
.node-type-blog .npost .nc table {
  font-size: 14px;
  line-height: 20px;
}
.node-type-blog .npost .nc table th {
  background: #f9f9f9;
}
.node-type-blog .npost .nc table th p {
  margin-bottom: 0;
}
.node-type-blog .npost .nc table td,
.node-type-blog .npost .nc table th {
  padding: 10px 15px;
}
/*
.section-blog:nth-last-child(-n+3) {
  margin-bottom: 0;
}
*/
@media screen and (max-width: 768px) {
  body.page-blog,
  body.node-type-blog {
    min-width: 100%;
  }
  .breadcrumbs,
  .not-front header {
    margin-bottom: 20px;
  }
  header {
    height: 60px;
  }
  header .logo {
    height: 30px;
    margin: 13px 0 17px 0;
    width: 100px;
  }
  header .logo img {
    height: 30px;
  }
  header .social {
    display: none;
  }
  header .box-7 {
    float: none;
    overflow: hidden;
    width: auto;
  }
  header nav {
    height: 60px;
  }
  header nav ul li {
    height: 60px;
    line-height: 60px;
  }
  .npost .tophinfo {
    height: 210px;
    overflow: hidden;
    position: relative;
    margin: 0 0 24px;
    border-radius: 5px;
  }
  .npost .tophinfo img {
    max-width: unset;
    width: 640px;
    display: block;
    min-height: 210px;
    margin-left: -340px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
  }
  .npost .tophinfo h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px;
  }
  .npost .tophinfo .binfo {
    padding: 30px 24px 24px;
    min-height: auto;
    z-index: 1;
  }
  .node-type-blog .npost h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
  }
  #page-content {
    padding: 0 20px;
  }
  .c-page,
  ymaps .termin-main-box {
    width: 100%;
    padding: 0;
  }
  .page-node-13142 {
    min-width: 320px;
  }
  header .c-page {
    padding: 0 20px;
  }
  .npost .submitted {
    margin-bottom: 24px;
  }
  .npost .nc {
    width: 100%;
    margin: 0;
    float: none;
  }
  .node-type-blog .npost .nc p.summary {
    font-size: 16px;
    line-height: 30px;
    border-bottom: none;
    margin: 0 0 24px;
    padding: 0;
    color: #333;
  }
  .npc .mi article p,
  .npost .nc article p,
  .node-type-agency article p {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 24px;
  }
  .node-type-blog .npost blockquote {
    padding: 0;
    border: none;
    border-radius: unset;
    margin: 0 0 24px;
  }
  .node-type-blog .npost blockquote:before {
    content: '';
    position: absolute;
    left: unset;
    bottom: -26px;
    right: 0px;
    top: unset;
  }
  .node-type-blog .npost blockquote:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: unset;
    right: unset;
    top: -28px;
  }
  .node-type-blog .npost blockquote p {
    font-size: 14px;
    line-height: 24px;
    padding: 24px 0;
    margin: 0 !important;
    position: relative;
  }
  .node-type-blog .npost blockquote p::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: unset;
    top: unset;
    background-color: #ebebeb;
    width: 90%;
    height: 1px;
  }
  .node-type-blog .npost blockquote p::after {
    content: "";
    position: absolute;
    left: unset;
    bottom: unset;
    right: 0;
    top: 0;
    background-color: #ebebeb;
    width: 90%;
    height: 1px;
  }
  .node-type-blog .npost h3 strong em {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 24px;
  }
  .npost .nc .social .ya-share2__container_size_m .ya-share2__item {
    margin: 0 4px 0 0;
  }
  .npost .nc .social .ya-share2__container_size_m .ya-share2__icon {
    height: 36px;
    width: 36px;
  }
  .npost .from-edition {
    padding: 0;
  }
  .from-edition .title-box {
    font-size: 20px;
    line-height: 30px;
    margin: 32px 0 24px;
  }
  .npost .nc .bottom-info .author {
    float: none;
    margin: 0 0 25px;
  }
  .npost .nc .bottom-info .social {
    float: none;
    overflow: hidden;
    width: 100%;
  }
  .npost .nc .bottom-info .social label {
    display: none;
  }
  .npost .nc .bottom-info .social > div {
    float: none;
  }
  .npost .nc .bottom-info .social > div div {
    height: 36px;
  }
  footer .c-page {
    padding: 0 20px;
  }
  footer .c-page .bottom-box {
    border: 0;
    padding: 0;
    margin: 32px 0 32px;
  }
  footer .c-page .bottom-box .conf {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #2b2b2b;
  }
  footer .c-page .bottom-box .conf a {
    display: block;
    margin: 16px 0 0;
  }
  footer .c-page .bottom-box .wl {
    padding: 0;
    margin-top: 24px;
  }
  .page-blog #page-content .section-blog {
    width: 100%;
    height: 235px;
  }
  .page-blog #page-content .section-blog.big-line .info-box .title {
    font-size: 16px;
    line-height: 24px;
  }
  .section-blog {
    margin: 0 0 32px !important;
  }
  .section-blog.big {
    height: 200px;
  }
  .page-blog #page-content .section-blog.big .info-box .title {
    font-size: 16px;
    line-height: 24px;
  }
  .section-blog img {
    width: 100%;
    height: 100%;
  }
  .node-type-blog .npost .nc p {
    margin-bottom: 32px;
    line-height: 24px;
  }
  .npost .peopleinfo p:not(.leftinfo) {
    overflow: visible;
  }
  .blog-header-termin ul li {
    margin: 5px 10px 5px 0;
  }
}
@media screen and (max-width: 375px) {
  .page-blog #page-content .section-blog {
    height: 210px;
  }
  .section-blog .info-box {
    padding: 15px;
  }
  .section-blog .info-box .date {
    left: 15px;
    bottom: 15px;
  }
  .page-blog #page-content .section-blog .info-box .title {
    line-height: 22px;
    bottom: 40px;
    left: 15px;
  }
}